@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes */
* > * {
  font-family: 'Poppins', sans-serif;
}

/* body{
  background-color: black;
} */

/* Enlaces */
a {
  color: inherit;
  text-decoration: none;
}

/* Box-sizing */
* {
  box-sizing: border-box;
}

@layer base {
  .border-sky-500 {
    border-color: #63B3ED;
    box-shadow: 0 0 0 2px #E5E7EB, 0 0 0 4px #63B3ED;
  }
}

/* Layer - Directiva */
@layer directive {
  .border-sky-500 {
    border-color: #93C5FD;
    box-shadow: 0 0 0 1px #93C5FD;
  }
}

/* Layer - Utilidades */
@layer utilities {
  .border-sky-500 {
    border-color: #93C5FD;
    box-shadow: 0 0 0 1px #93C5FD;
  }
}

/* Layer - Componentes */
@layer components {
  .placeholder-slate-500 {
    color: slate-500;
  }
}

/* Input text */
.input-text {
  @layer mt-1 block w-60 px-3 py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
  @layer focus:border-sky-500;
}

/* Loader */
.loader {
  @layer border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
  border-top-color: blue-500;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  padding: 0 2rem;
}

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card{
  border-radius: 16px;
  border-color: #0070f3;
}
.card:hover,
.card:focus,
.card:active {
  color: #a1c1e6;
  border-color: #1f68bb;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
